* {
    line-height: 1.5;
    margin: 10px, auto;
    text-align: center;
}

body {
    background-color: rgba(164, 206, 163, 0.363);
}
div {
    margin-bottom:  5px;
}
.container {
    background-color: rgba(255, 255, 255, 0.616);
    border: 3px solid rgba(9, 32, 58, 0.986);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
img {
    height: 380px;
    width: auto;
    margin: 20px 0;
}
p {
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

}
li {
    text-align: left;
    line-height: 2;
    font-size: 20px;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;

}

a {
    font-size: 20px;
}

